body {
  font-family: helvetica;
  font-size: 14px;
}

#cy {
  width: 100%;
  height: calc(100% - 100px);
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: 999;
}

#loadForm {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}

h1 {
  opacity: 0.5;
  font-size: 1em;
}